.container {
    width: 400px;
    height: 700px;
    border-radius: 15px;
    margin: 30px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.graf {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.macros {
    height: 50%;
}

.macros p {
    font-size: 22px;
    font-weight: 500;
}

.color {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    color: #66BB6A;
    font-weight: 500;
}

@media (max-width: 414px) {
    .container {
        margin: auto;
        margin-top: 20px;
        margin-right: 40px;
        height: 150px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .macros {
        display: none;
    }
}


.progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 100px;
    overflow: hidden;
    margin: 20px 0 20px 0;
}

.progress-bar {
    height: 6px;
    background-color: #66BB6A;
    width: 0;
    transition: width 0.5s;
}

.macros-2{
    width: 100%;
    display: flex;
    flex-direction: column;
}

