.progress-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;  /* Tamaño ajustado para que coincida con el SVG más grande */
  height: 400px; /* Tamaño ajustado para que coincida con el SVG más grande */
  background: transparent;
  margin: 0 auto;  /* Centra el contenedor dentro del componente padre */
  margin-right: 40px;
}

.progress-circle-background {
  fill: none;
  stroke: #f3f3f3;  /* Fondo de la barra */
  stroke-width: 8;  /* Grosor de la barra */
}

.progress-circle {
  fill: none;
  stroke: #66BB6A;  /* Color de la barra de progreso */
  stroke-width: 8;  /* Grosor de la barra */
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease;
}

.progress-text {
  font-size: 20px;
  fill: black;
  text-anchor: middle; 
  font-weight: 400; 
}

/* Media query para pantallas pequeñas */
@media (max-width: 414px) {
  .progress-circle-container {
      width: 120px;  /* Tamaño más pequeño del círculo */
      height: 120px; /* Tamaño más pequeño del círculo */
  }
}
